<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Temperature Data</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Time', 'Temperature'],
                @foreach (var contextResponse in Model.ContextResponses)
                {
                    var contextElement = contextResponse.ContextElement;
                    foreach (var attribute in contextElement.Attributes)
                    {
                        foreach (var value in attribute.Values)
                        {
                            @: ['@value.RecvTime.ToString("HH:mm:ss")', @value.AttrValue],
                        }
                    }
                }
            ]);

            var options = {
                title: 'Temperature over Time',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }

        function reloadPage() {
            location.reload();
        }
    </script>
</head>
<body>
    <h1>Temperature Data</h1>
    <button onclick="reloadPage()">Atualizar Gráfico</button>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>
