@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-container">
    <h1>Sobre o Projeto</h1>
    <p class="description"> 
        The Temperature Data project is an innovative web application built with ASP.NET Core,
        aiming to revolutionize the way users interact with temperature data. Using modern web technologies, we provide
        a seamless and intuitive experience for real-time temperature data visualization and analysis.
    </p>
    <h2>Integrantes do Grupo</h2>
    <ul class="team-list">
        <li>
            <span class="name">Kelvin Fernandes Silva</span>
            <span class="ra">081220005</span>
        </li>
        <li>
            <span class="name">William Galvonas Apuzzo Miyaura</span>
            <span class="ra">081220038</span>
        </li>
        <li>
            <span class="name">Evandro Ijanques Junior</span>
            <span class="ra">081220030</span>
        </li>
        <li>
            <span class="name">Heytor Kyoshi Sato</span>
            <span class="ra">081220039</span>
        </li>
    </ul>
</div>

@section Scripts {
    <script src="~/scripts/about.js"></script>
}
