@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-container">
    <h1>Sobre o Projeto</h1>
    <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
    </p>
    <h2>Integrantes do Grupo</h2>
    <ul class="team-list">
        <li>
            <span class="name">Kelvin Fernandes Silva</span>
            <span class="ra">081220005</span>
        </li>
        <li>
            <span class="name">William Galvonas Apuzzo Miyaura</span>
            <span class="ra">081220038</span>
        </li>
        <li>
            <span class="name">Evandro Ijanques Junior</span>
            <span class="ra">081220030</span>
        </li>
        <li>
            <span class="name">Heytor Kyoshi Sato</span>
            <span class="ra">081220039</span>
        </li>
    </ul>
</div>

@section Scripts {
    <script src="~/scripts/about.js"></script>
}
