* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Alice", sans-serif;
            background-image: url('https://media.discordapp.net/attachments/1168209151697096757/1305193568163336232/bananas_background.png?ex=673223bb&is=6730d23b&hm=576ffb97f9001810ad59a4ad6329231ff350ac89e7f47a384aafdede8a13c4f9&=&format=webp&quality=lossless&width=1193&height=671');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f9ae25;
        }
        
        .alice-regular {
        font-family: "Alice", sans-serif;
        font-weight: 400;
        font-style: normal;
        }

        
        .shrikhand-regular {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        }

      
        .login-container {
            font-family: "Alice", sans-serif;
            text-align: center;
            padding: 20px;
        }

        .title {
            font-family: 'Shrikhand', sans-serif-font-family;
            font-size: 102px;
            font-weight: bold;
            margin-bottom: 80px;
            text-shadow: 5px 5px 0px #795411
        }

        .button-container {
            font-family: "Alice", sans-serif;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .login-button, .cadastro-button {
            font-family: "Alice", sans-serif;
            background-color: transparent;
            border: 2px solid #f9ae25;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 32px;
            color: #f9ae25;
            cursor: pointer;
            min-width: 500px;
            transition: background-color 0.3s, color 0.3s;
        }

        .login-button:hover, .cadastro-button:hover {
            font-family: "Alice", sans-serif;
            background-color: #685f43;
            color: #f9ae25;
        }